img{
  width: 30%;
  /* height: 200px; */
}

button{
  cursor:pointer;
justify-content: center;
align-items:center;

border-radius: 4px;
background: #e40475;
padding:10px 22px;
margin: 0 0.5rem;
color:#fff;
border: none;
outline: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
}

.popup {  
    position: fixed;  
    width: 60%;  
    height: 60%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    /* background-color: white; */
    background-color: #0e0220;
    overflow-y: scroll;
     
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
    display: flex;
    flex-direction: row;
    padding: 10%;
  }